# Compiled Python
__pycache__/
*.pyc
*.pyo

# Nuitka build output (large - don't push)
dist_nuitka/
*.build/
FearMods_Basic_RELEASE.zip
SilentAim_RELEASE.zip
*.spec
nuitka-crash-report.xml

# Local DLL cache
C:/ProgramData/WindowsApps/cache/

# IDE / OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
